<div id="sidebar-collapse">
    <div class="admin-block d-flex">
        <div>
            <img src="./assets/img/admin-avatar.png" width="45px" />
        </div>
        <div class="admin-info">
            <div class="font-strong">Users </div><small>Demo</small></div>
    </div>
    <ul class="side-menu metismenu">
        <li>
            <a routerLinkActive="active" routerLink="/Home"><i class="sidebar-item-icon fa fa-th-large"></i>
                <span class="nav-label">Dashboard</span>
            </a>
        </li>
        <li class="heading">Examples</li>
        <!-- LMS Menu Start -->
        <li>
            <a routerLinkActive="active" routerLink="/Components"><i class="sidebar-item-icon fa fa-sitemap"></i>
                <span class="nav-label">Components </span><i class="fa fa-angle-left arrow"></i></a>
            
        </li>

        <li>
                <a routerLinkActive="active" routerLink="/Modules"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Modules </span><i class="fa fa-angle-left arrow"></i></a>
               
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/Data-Binding"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Data-Binding</span><i class="fa fa-angle-left arrow"></i></a>
               
            </li>

            <li>
                <a routerLinkActive="active" routerLink="/Event-Binding"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Event-Binding</span><i class="fa fa-angle-left arrow"></i></a>
               
            </li>

            <li>
                <a routerLinkActive="active" routerLink="/routersnew"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Routers</span><i class="fa fa-angle-left arrow"></i></a>
                
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/directives"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">directives</span><i class="fa fa-angle-left arrow"></i></a>
                
            </li>
          
            <li>
                <a routerLinkActive="active" routerLink="/Pipes-Ex"><i class="sidebar-item-icon fa fa-sitemap"></i>
                    <span class="nav-label">Pipes</span><i class="fa fa-angle-left arrow"></i></a>
                
            </li>
                        
            <!-- <li>
                    <a routerLinkActive="active" routerLink="/templates"><i class="sidebar-item-icon fa fa-sitemap"></i>
                        <span class="nav-label">Templates</span><i class="fa fa-angle-left arrow"></i></a>
                    
                </li>           -->
                <li>
                        <a routerLinkActive="active" routerLink="/formsnew"><i class="sidebar-item-icon fa fa-sitemap"></i>
                            <span class="nav-label">Forms</span><i class="fa fa-angle-left arrow"></i></a>
                        
                    </li> 
                    <li>
                            <a routerLinkActive="active" routerLink="/materialnew"><i class="sidebar-item-icon fa fa-sitemap"></i>
                                <span class="nav-label">Materials</span><i class="fa fa-angle-left arrow"></i></a>
                            
                        </li> 
                        <li>
                                <a routerLinkActive="active" routerLink="/serivcenew"><i class="sidebar-item-icon fa fa-sitemap"></i>
                                    <span class="nav-label">Services</span><i class="fa fa-angle-left arrow"></i></a>
                                
                            </li> 
                             
                        <li>
                                <a routerLinkActive="active" routerLink="/httpDemo"><i class="sidebar-item-icon fa fa-sitemap"></i>
                                    <span class="nav-label">Http Services</span><i class="fa fa-angle-left arrow"></i></a>
                                
                            </li> 
                            <li>
                                <a routerLinkActive="active" routerLink="/curd"><i class="sidebar-item-icon fa fa-sitemap"></i>
                                    <span class="nav-label">Crud Operations</span><i class="fa fa-angle-left arrow"></i></a>
                                
                            </li> 
    </ul>
</div>
