<!-- <h4>Login Form</h4>
<br>
<br>
<form #LoginData="ngForm" (ngSubmit)="onclickSubmit(LoginData)" align="center">
    <table>
        <tr><td>
    <label>User Name: </label></td>
    <td><input type="text" name="userName"  placeholder="User Name" ngModel><br/></td></tr>

<tr><td>
    <label>Password: </label></td>
    <td>
    <input type="password" name="password" placeholder="password" ngModel><br/></td></tr>
<tr><td></td>
    <td> <input type="submit" value="Login"></td></tr>

</table>
    </form> -->
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form #LoginData="ngForm" (ngSubmit)="onclickSubmit(LoginData)" >
                        <div class="form-group">
                        <label>User Name</label>

                    <input type="text" id="userName" class="form-control" name="userName" placeholder="User Name " required ngModel >
                  </div>
    
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required ngModel>
                  </div>
    
             
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>