<h3>Event Binding</h3> 
<br>
<br>

<p> 
        we will discuss how Event Binding works in Angular 8. 
        When a user interacts with an application in the form of a keyboard movement, 
        a mouse click, or a mouse over, it generates an event. 
        These events need to be handled to perform some kind of action. This is where event binding comes into picture.

        <br>
        <br>
        Let us consider an example to understand this better.

        <br>
        <br>

        <img src="../../assets/img/event biniding.JPG">

        <br>
        <br>
        In the <b>app.component.html</b> file, we have defined a button and added a function to it using the click event.
<br>
<br>
Following is the syntax to define a button and add a function to it.

<br>
<br>

<img src="../../assets/img/event biniding 1.JPG">

<br>
<br>
The function is defined in :<b>app.component.ts</b>
<br>
<br>

<img src="../../assets/img/event biniding 2.JPG">
<br>
<br>
Upon clicking the button, the control will come to the function
 myClickFunction and a dialog box will appear,
  which displays the Button is clicked as shown in the following screenshot −

  <br>
  <br>
  <img src="../../assets/img/event biniding 3.JPG">

  <br>
  <br>
  The styling for button is added in add.component.css −
<br>
<br>
<img src="../../assets/img/event biniding 4.JPG">
<br>
<br>

Let us now add the onchange event to the dropdown.
<br>
<br>

The following line of code will help you add the change event to the dropdown −
<br>
<br>
<b>app.component.html</b>
<br>
<br>
<img src="../../assets/img/event biniding 5.JPG">

<br><br>
<img src="../../assets/img/event biniding 6.JPG">
<br>
<br>
<img src="../../assets/img/event biniding 7.JPG">
<br>
<br>
<img src="../../assets/img/event biniding 8.JPG">
<br>
<br>
<img src="../../assets/img/event biniding 9.JPG">
<br><br>
</p>