<br>
<h2 align="center">Welcome to Angular 8 </h2>
<br>
<br>

<p align="justify">
        Angular 8 is an open source JavaScript framework for building web applications and apps in JavaScript, 
        html, and Typescript which is a superset of JavaScript. Angular provides built-in features for animation, 
        http service, and materials which in turn have features such as auto-complete, navigation, toolbar, menus, etc.
        The code is written in Typescript, which compiles to JavaScript and displays the same in the browser.  
</p>


<p align="justify">
        Angular 8 is owned by Google and the stable release was done on 28th May 2019. This is the latest version of Angular.
</p>

<table class="table" align="center">
    <tr align="center">
        <th>
            Versions
        </th>
        <th>
            Release  Date
        </th>
    </tr>
    <tr align="center">
        <td> AngularJs</td>
        <td> October 2010 </td>
    </tr>
    <tr align="center">
        <td> Angular 2</td>
        <td> Sept 2016 </td>
    </tr>
    <tr align="center">
            <td> Angular 4</td>
            <td> March 2017 </td>
        </tr>
        <tr align="center">
                <td> Angular 5</td>
                <td> November 2017</td>
            </tr>
            <tr align="center">
                    <td> Angular 6</td>
                    <td> May 2018</td>
                </tr>
                <tr align="center">
                        <td> Angular 7</td>
                        <td> October 2018</td>
                    </tr>
                    <tr align="center">
                            <td> Angular 8</td>
                            <td> May 2019 </td>
                        </tr>
</table>