<h1> Directives </h1>
<br>
<br>
<p> <b>Component Directives </b>
  <br>
  <br>
    These form the main class having details of how the component should be processed, instantiated and used at runtime. 
    
    <br>
    <br>

  <b>  Structural Directives </b>

  <br>
  <br>

    A structure directive basically deals with manipulating the dom elements.
     Structural directives have a * sign before the directive. For example, *ngIf and *ngFor. 
<br>
<br>

<b> Example </b>
<br>
<br>
 <b> Structural Directives </b>
 <br><br>
 </p>
<div > 
<b> Months of the Year</b> 
<br>
<br>
<table >
    <tr>
    <th>Numeric </th>
    <th>Month</th>
</tr>
<tr *ngFor="let monthName of exMonths">
    <td>{{ monthName.Sl_no }}</td>
    <td>{{ monthName.Months }}</td>
</tr>
</table>


</div> 
<br><br>
<button type="button" (click)="onClickFunction()">NgIf </button>
<br>
<br>
<b> Example on *ngIf </b> 
<div *ngIf="isDisable!=true"> <br><br>
  <p> Ngif based on condition </p>
</div>

<div *ngIf="isDisable==true"> 
  <p> ngif based on checking condition
    </p>

  </div>
