<h1> Directives </h1>

<h3> Component Directives </h3>
   <h4> These form the main class having details of how the component should be processed, instantiated and used at runtime. </h4>
    
  <h3>  Structural Directives </h3>
  <h4>  A structure directive basically deals with manipulating the dom elements. Structural directives have a * sign before the directive. For example, *ngIf and *ngFor. </h4>


<h2> Example </h2>

<h3> <b> Structural Directives </b></h3>
<div > 
<h3> Months of the Year</h3> 
<table >
    <tr>
    <th>Numeric </th>
    <th>Month</th>
</tr>
<tr *ngFor="let monthName of exMonths">
    <td>{{ monthName.Sl_no }}</td>
    <td>{{ monthName.Months }}</td>
</tr>
</table>


</div> 

<button type="button" (click)="onClickFunction()">NgIf </button>
<h3> Example on *ngIf </h3> 
<div *ngIf="isDisable!=true"> 
  <p> Ngif based on condition </p>
</div>

<div *ngIf="isDisable==true"> 
  <p> ngif based on checking condition
    </p>

  </div>
